.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.postButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;

}

.likeButton{
  background:#3b5998;
  padding:0px 10px;
  border-radius:2px;
  color:#fff;
  cursor:pointer;
  float:left;
  height:25px;
  line-height:25px;
}
.likeButton:hover{
  background:#444;
}
.counter{
  background:#fafafa;
  border:1px solid #aaa;
  float:left;
  padding:0px 8px;
  border-radius:2px;
  margin-left:8px;
  height: 23px;
  line-height:23px;
}
.counter:before{
  display:block;
  float:left;
  content:' ';
  width:6px;
  height:6px;
  background:#fafafa;
  margin-left:-12px;
  border-right:10px;
  transform:rotate(45deg);
  -webkit-transform:rotate(45deg);
  margin-top:8px;
  border-left:1px solid #aaa;
  border-bottom:1px solid #aaa;
}